version: "3.9"

services:
  web:
    build: .
    container_name: upsc_prep_web
    env_file: .env
    command: >
      sh -c "python manage.py migrate && \
             gunicorn upsc_prep.wsgi:application --bind 0.0.0.0:8000"
    ports:
      - "8000:8000"
    restart: unless-stopped
    volumes:
      - static_volume:/app/staticfiles

volumes:
  static_volume:
